body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

header {
  background-color: #3a6ea5;
  padding: 15px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url("../images/books-bg.jpg") center/cover no-repeat;
  color: #fff;
}

.hero h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.1em;
  max-width: 600px;
  margin: 0 auto 20px;
}

.btn {
  background-color: #f4a261;
  padding: 10px 25px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e76f51;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #3a6ea5;
  color: white;
  margin-top: 40px;
}
